html(lang="es")
	head
		title LIV
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1,user-scalable=no")
		
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Raleway:100,400,800" rel="stylesheet")
		link(href="resources/css/style.css" rel="stylesheet")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")

		//- Adding tweenlite
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenLite.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TimelineLite.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/plugins/CSSPlugin.min.js")

		//- Modernizer
		script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")


		script(src="resources/js/jquery-mousewheel.min.js")
		script(src="resources/js/scroller-advanced.js")
	body
		#main-content.container-fluid
			nav#main-menu.menu
				.row.main
					.col-xs-12.logos
						img.logo-liv(src="resources/imgs/Logo-Liv-green.png")
						img.menu-icon(src="resources/imgs/menu-launcher-blu.png")
				.row.list
					.col-xs-12.list
						ul.menu-list
							li(data-scroll="home") HOME
							li(data-scroll="services") Nuestros Servicios
							li(data-scroll="why-us") Tu mejor opción
							li(data-scroll="contact") Contacto
			.menu-launcher
				img.logo-liv.animate-menu-hide(src="resources/imgs/Logo-Liv-white.png")
				img.menu-icon.animate-menu-hide(src="resources/imgs/menu-launcher.png")
				img.menu-icon.animate-menu-show(src="resources/imgs/menu-launcher-blu.png")
			#home.row.principal-row
				.col-xs-12.col-sm-6.first.animate-principal-text
					.txt
						h1
							span.title LIV
							span.subtitle Limpieza Integral Vázquez
						p.first Servicio y atención personalizada, tenemos el mejor equipo a tu servicio.
						p.second.
							Fundada en 1991 bajo el nombre de multiservicios de limpieza , guiada por el C.P. Eliseo Vázquez B. y ahora con un nuevo concepto e ideas creativas pero sobre todo efectivas para otorgar soluciones integrales en limpieza.
					img.vertical-texture(src="resources/imgs/vertical-texture.png")
				.col-xs-12.col-sm-6.second.animate-main-image
					img.horizontal-texture(src="resources/imgs/horizontal-texture-1.png")
					div.quote 
						span ¿Te interesa una cotización?
						br
						img.whatsapp(src='resources/imgs/whatsapp.png')
						span.number 33 14171084
					img.main.img-responsive(src="resources/imgs/main.png")
				.col-xs-12.other-button.hide
					.button-contact(data-scroll="contact" data-no-menu)
						span ¡Resuelve hoy tus problemas de limpieza!
			#services.row.services
				.col-xs-12
					.our-services
						h2.background.animate-services-title
							span.one Nuestros
							br
							span.two Servicios
						h2.main.animate-services-subtitle
							span Nuestros servicios
				.col-xs-12.all-services
					.row.service-description
						.col-xs-12.col-sm-10.col-md-4.col-lg-4.first.animate-first-service-one
							img.vertical-texture(src="resources/imgs/vertical-texture-1.png")
							img.service.img-responsive(src='resources/imgs/first-service.png')
						.col-xs-12.col-sm-10.col-md-8.col-lg-8.second.animate-first-service-two
							img.horizontal-texture(src="resources/imgs/horizontal-texture-1.png")
							.txt
								p.title ¡Le damos nueva vida a tus muebles y Tapicerías!
								h3.main-title Lavado de Muebles y Tapicerias
								p.subtitle.
									Contamos con equipo de vanguardia y lo más importante tenemos el proceso más efectivo, con el cual garantizamos larga vida para tus textiles y tapicerías además de excelentes resultados sin dañar, decolorar o dejar residuos.
						.col-xs-12.other-button.hide
							.button-contact(data-scroll="contact" data-no-menu)
								span ¡Resuelve hoy tus problemas de limpieza!
					.row.service-description
						.col-xs-12.col-sm-10.col-md-4.col-lg-4.second.hide
							img.vertical-texture(src="resources/imgs/vertical-texture-2.png")
							img.service.img-responsive(src='resources/imgs/second-service.png')
						.col-xs-12.col-sm-10.col-md-8.col-lg-8.first.animate-second-service-one
							img.horizontal-texture(src="resources/imgs/horizontal-texture-2.png")
							.txt
								p.title Los pisos de tu casa u oficina dicen mucho de tí
								h3.main-title Pulido, Encerado y Cristalizado de pisos
								p.subtitle.
									El mejor tratamiento para tus pisos de mármol, granito, terrazo, vinil, cementos, mosaico, laminados, colocación de selladores epóxicos. Somos No. 1.
						.col-xs-12.col-sm-10.col-md-4.col-lg-4.second.animate-second-service-two
							img.vertical-texture(src="resources/imgs/vertical-texture-2.png")
							img.service.img-responsive(src='resources/imgs/second-service.png')
						.col-xs-12.other-button.hide
							.button-contact(data-scroll="contact" data-no-menu)
								span ¡Resuelve hoy tus problemas de limpieza!
					.row.service-description
						.col-xs-12.col-sm-10.col-md-4.col-lg-4.first.animate-third-service-one
							img.vertical-texture(src="resources/imgs/vertical-texture-1.png")
							img.service.img-responsive(src='resources/imgs/third-service.png')
						.col-xs-12.col-sm-10.col-md-8.col-lg-8.second.animate-third-service-two
							img.horizontal-texture(src="resources/imgs/horizontal-texture-1.png")
							.txt
								p.title Vivir en un espacio limpio es una sensación incomparable
								h3.main-title Limpieza general
								p.subtitle.
									Porque sabemos lo importante que es la imagen de tu hogar o negocio diseñamos un traje a la medida para cada cliente, con el mejor equipo y un paquete de servicios especializado, siempre buscando la satisfacción 5 estrellas.
						.col-xs-12.other-button.hide
							.button-contact(data-scroll="contact" data-no-menu)
								span ¡Resuelve hoy tus problemas de limpieza!
					.row.service-description
						.col-xs-12.col-sm-10.col-md-4.col-lg-4.second.hide
							img.vertical-texture(src="resources/imgs/vertical-texture-2.png")
							img.service.img-responsive(src='resources/imgs/fourth-service.png')
						.col-xs-12.col-sm-10.col-md-8.col-lg-8.first.animate-fourth-service-one
							img.horizontal-texture(src="resources/imgs/horizontal-texture-2.png")
							.txt
								p.title Entrega tus obras, listas para ser habitadas
								h3.main-title Terminación de obra
								p.subtitle.
									Después de la satisfacción que genera el comprar, construir o remodelar con esfuerzo y dedicación tu hogar u oficina viene el reto mas difícil dejar todo listo para ser habitado así que deja en nuestras manos darle ese último toque para que la experiencia sea incomparable.
						.col-xs-12.col-sm-10.col-md-4.col-lg-4.second.animate-fourth-service-two
							img.vertical-texture(src="resources/imgs/vertical-texture-2.png")
							img.service.img-responsive(src='resources/imgs/fourth-service.png')
						.col-xs-12.other-button.hide
							.button-contact(data-scroll="contact" data-no-menu)
								span ¡Resuelve hoy tus problemas de limpieza!
					.row.service-description
						.col-xs-12.col-sm-10.col-md-4.col-lg-4.first.animate-fifth-service-one
							img.vertical-texture(src="resources/imgs/vertical-texture-1.png")
							img.service.img-responsive(src='resources/imgs/fifth-service.png')
						.col-xs-12.col-sm-10.col-md-8.col-lg-8.second.animate-fifth-service-two
							img.horizontal-texture(src="resources/imgs/horizontal-texture-1.png")
							.txt
								p.title Trabajar en un espacio limpio es la mejor impresión
								h3.main-title Servicio subcontratado de aseo diario 
									span (afanadoras)
								p.subtitle.
									Lo más importante de tu negocio u oficina es la primera impresión que se llevan tus clientes  y socios, permítenos ser parte de un plan personalizado de limpieza diaria para que todos los días  luzca impecable.
						.col-xs-12.other-button.hide
							.button-contact(data-scroll="contact" data-no-menu)
								span ¡Resuelve hoy tus problemas de limpieza!
			#we-love.we-love.row
				.col-xs-12
					img.img-responsive.love.animate-we-love-img(src='resources/imgs/we-love-what-we-do.png')
					p.title.animate-we-love-title Amamos
					p.subtitle.animate-we-love-subtitle lo que hacemos
					img.logo-liv.img-responsive.animate-we-love-img(src='resources/imgs/Logo-Liv-white.png')
			#why-us.reasons.row
				.col-xs-12
					.why-us
						h2.background.animate-whyus-title
							span.one ¿Por qué somos
							br
							span.two tu mejor opción?
						h2.main.animate-whyus-subtitle
							span ¿Por qué somos tu mejor opción?
				.col-xs-12.all-reasons
					.options.row
						.option.col-xs-12.col-sm-6.col-lg-3.animate-option-1
							img.img-responsive(src="resources/imgs/option-1.png")
							h4.title Servicio Personalizado
							p.text.
								Nuestros clientes son lo más importante y los atendemos personalmente, desde quien recibe el primer contacto hasta la dirigencia están disponibles en todo momento.
						.option.col-xs-12.col-sm-6.col-lg-3.animate-option-2
							img.img-responsive(src="resources/imgs/option-2.png")
							h4.title Atención Garantizada
							p.text.
								Sabemos el compromiso que adquirimos al ofrecer nuestros servicios es por eso que contamos con el mejor equipo humano y material para llevar acabo todos nuestros servicios. Siempre buscando satisfacción 5 estrellas.
						.option.col-xs-12.col-sm-6.col-lg-3.animate-option-3
							img.img-responsive(src="resources/imgs/option-3.png")
							h4.title Empleos Formales
							p.text.
								Dado que nuestro negocio se basa en nuestros colaboradores, les brindamos las condiciones laborales ideales y apegadas a la ley para garantizar un colaborador feliz y fiel a los valores de la empresa.
						.option.col-xs-12.col-sm-6.col-lg-3.animate-option-4
							img.img-responsive(src="resources/imgs/option-4.png")
							h4.title Facturamos tus Servicios
							p.text.
								Déjanos ayudarte a que los servicios de limpieza dejen de ser solo un gasto y puedas recibir una factura para deducibilidad.
				.col-xs-12.other-button.hide
					.button-contact(data-scroll="contact" data-no-menu)
						span ¡Resuelve hoy tus problemas de limpieza!
			#opinions.real-opinions.row
				.col-xs-12
					.opinions.row.animate-opinions
						img.img-bg-opinions(src="resources/imgs/img-bg-opinions.png")
						#carousel-opinions.carousel.slide(data-ride='carousel')
							ol.carousel-indicators
								li.active(data-target="#carousel-opinions" data-slide-to="0")
								li(data-target="#carousel-opinions" data-slide-to="1")
							.carousel-inner(role='listbox')
								.item.active
									.small.row
										.col-xs-12.opinion-text
											h5.title Lo que dice la gente de liv
											p.actual-opinion
												img.quote-open(src="resources/imgs/quote.png")
												span Hay 3 factores por los cuales elijo trabajar con LIV: Calidad, tiempo de respuesta y servicio
												img.quote-close(src="resources/imgs/quote.png")
										.col-xs-12.opinion-text.row
											.col-xs-8.author-txt
												img.opinion-img.img-responsive(src="resources/imgs/opinion-1.png")
											.col-xs-4.author-txt
												.inner-div
													p.author Ivan Mirón
													p.extra Habla Estudio
									.big
										img.opinion-img.img-responsive(src="resources/imgs/opinion-1.png")
										.opinion-text
											h5.title Lo que dice la gente de liv
											p.actual-opinion 
												span Hay 3 factores por los cuales elijo trabajar con LIV: Calidad, tiempo de respuesta y servicio
												img.quote-close(src="resources/imgs/quote.png")
											p.author Ivan Mirón
											p.extra Habla Estudio
											img.quote-open(src="resources/imgs/quote.png")
								.item
									.small.row
										.col-xs-12.opinion-text
											h5.title Lo que dice la gente de liv
											p.actual-opinion
												img.quote-open(src="resources/imgs/quote.png") 
												span Hay 3 factores por los cuales elijo trabajar con LIV: Calidad, tiempo de respuesta y servicio
												img.quote-close(src="resources/imgs/quote.png")
										.col-xs-12.opinion-text.row
											.col-xs-8.author-txt
												img.opinion-img.img-responsive(src="resources/imgs/opinion-1.png")
											.col-xs-4.author-txt
												.inner-div
													p.author Ivan Mirón
													p.extra Habla Estudio
									.big
										img.opinion-img.img-responsive(src="resources/imgs/opinion-1.png")
										.opinion-text
											h5.title Lo que dice la gente de liv
											p.actual-opinion 
												span Otra opinión aquí
												img.quote-close(src="resources/imgs/quote.png")
											p.author Ivan Mirón
											p.extra Habla Estudio
											img.quote-open(src="resources/imgs/quote.png")
							a.left.carousel-control(href="#carousel-opinions" data-slide='prev')
								span.arrow.glyphicon.glyphicon-chevron-left
							a.right.carousel-control(href="#carousel-opinions" data-slide='next')
								span.arrow.glyphicon.glyphicon-chevron-right
			#contact.contact.row
				.col-xs-12
					.form-title
						h2.background.animate-contact-title
							span.one Estamos para
							br
							span.two atenderte
						h2.main.animate-contact-subtitle
							span Estamos para atenderte
				.col-xs-12-.complete-form
					.form-body.row
						.layout-wait
						.layout-success
							p Tu mensaje ha sido enviado
						.form-input.col-xs-12.col-md-6.animate-input-1
							label(for="in-name") Nombre
							input#in-name(type="text" placeholder="Ej. Juan Pérez")
						.form-input.col-xs-12.col-md-6.animate-input-2
							label(for="in-email") Correo Electrónico
							input#in-email(type="email" placeholder="Ej. juan@liv.com")
						.form-input.col-xs-12.col-md-6.animate-input-3
							label(for="in-phone") Teléfono
							input#in-phone(type="text" placeholder="Ej. 33 1417 1089")
						.form-input.col-xs-12.col-md-6.animate-input-4
							label(for="in-service") Servicio
							select#in-service
								option(value="") Selecciona un servicio
								option(value="1") Lavado de Muebles y Tapicerias
								option(value="2") Pulido, Encerado y Cristalizado de pisos
								option(value="3") Limpieza general
								option(value="4") Terminación de obra
								option(value="5") Servicio subcontratado de aseo diario 
						.form-input.col-xs-12.animate-input-5
							label(for="in-query") ¿Qué podemos hacer por ti?
							textarea#in-query
					.form-button.row
						.layout-wait
						.button-contact.animate-input-6(data-send-form)
								span Enviar mensaje
			#final.end.row
				.col-xs-12.row.inner
					.col-xs-2.col-md-4.animate-final-left
						.img-1
							img.img-responsive(src="resources/imgs/final-left.png")
					.col-xs-8.col-md-4.animate-final-middle
						.number
							img.whatsapp(src='resources/imgs/whatsapp-white-2.png')
							span 33 1417 1084
						.text Mándanos un Whatsapp y déjanos atenderte de inmediato
						.logo
							img.img-responsive(src="resources/imgs/Logo-Liv-blu.png")
						.facebook
							img(src="resources/imgs/facebook.png")
						.copyright ©Limpieza Integral Vazquez 2017
					.col-xs-2.col-md-4.animate-final-right
						.img-2
							img.img-responsive(src="resources/imgs/final-right.png")
			.row
				.col-xs-12
					.button-contact.animate-button-contact(data-scroll="contact" data-no-menu)
						span ¡Resuelve hoy tus problemas de limpieza!