$first-bg-color: #1ccfc9;
$second-bg-color:#ff9012;
$our-services-height: 250px;

body{
	overflow-x:hidden;
	font-family: 'Helvetica' Arial, sans-serif;
}

.layout-wait,.layout-success{
	position:absolute;
	width:100%;
	height:100%;
	background:#ffffff;
	opacity:0.2;
	opacity: 0.65;
    z-index: 60;
    display:none;
}
.layout-success{
	font-family: 'Raleway', sans-serif;
	background-color: $first-bg-color;
	opacity:1;
	color:white;
	p{
		font-size:60px;
		width:100%;
		text-align:center;
	}
}

.button-contact,.button-contact-2{
	background: url('../imgs/contact-button.png');
	text-transform: uppercase;
    position: fixed;
    bottom: 10px;
    z-index: 50;
    margin: auto;
    width: 400px;
    height: 65px;
    left: 36%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor:pointer;
    span{
    	display: block;
	    text-align: center;
	    margin: auto;
	    position: absolute;
	    left: 11%;
	    bottom: 34%;
	    color: white;
    }
}

.btn-fixed-2{
	display:none;
}

.button-contact-2{
	position:relative;
	left:0;
	bottom:0;
}

.animation-element {
  opacity: 0;
  position: relative;
}
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-down {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(0, -100px, 0px);
  -webkit-transform: translate3d(0, -100px, 0px);
  -o-transform: translate(0, -100px);
  -ms-transform: translate(0, -100px);
  transform: translate3d(0, -100px, 0px);
}

.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0, 0px);
  -webkit-transform: translate3d(100px, 0, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0, 0px);
}

.animation-element.slide-left.in-view,.animation-element.slide-down.in-view,.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

#main-content{
	.principal{
		position:relative;
		display:flex;
		.left,.right{
			height:auto;
		}
		.left{
			padding:0;
			background:$first-bg-color;
			box-shadow:0 1px 0 0 #b8bfbf, 0 5px 6px 5px rgba(0,0,0,0.03);
			.txt{
				color: white;
			    margin:auto;
			    width:300px;
			    text-align:right;
			    padding-bottom:100px;
				.title{
					font-family: 'Raleway', sans-serif;
				    font-weight: bolder;
				    font-size: 143px;
				    display: inline-block;
				}
				.subtitle{
					font-family: 'Raleway', sans-serif;
					display:inline-block;
					text-transform: uppercase;
					font-weight: lighter;
					font-size: 55px;
				}
				p{
					font-weight: lighter;
					font-size: 16px;
					line-height: 24px;
					&.first{
						margin-bottom:20px;
						font-weight: bold;
					}
				}
			}
			img.vertical-texture{
				height:100%;
				position:absolute;
				left: 99%;
				top:0;
			}
		}
		.right{
			padding:0;
			.quote{
				color:#575858;
				position: absolute;
			    right: 39px;
			    top: 25px;
			    font-size: 14px;
			    text-align:right;
			    .number{
			    	color:#ff9012;
			    	font-size:36px;
			    	font-weight:bold;
			    }
			    .whatsapp{
			    	margin-top: -16px;
					margin-right: 10px;
			    }
			}
			img.main{
				position: absolute;
			    bottom: 0;
			    left: -50px;
			    max-height:80%;
			}
		}
	}
	.our-services,.why-us,.form-title{
		height:$our-services-height;
		width:100%;
		h2{
			font-family: 'Raleway', sans-serif;
			font-size:100px;
			color: $first-bg-color;
			text-align:center;
			height:100%;
			margin:0;
			padding:0;
			font-style:italic;
			display:flex;
			.main{
				margin:auto;
			}

			.background,.background2{
			    position: absolute;
			    opacity: 0.1;
			    font-family: Raleway;
			    font-size:130px;
			    color:#8a8c8c;
			    letter-spacing:4.17px;
			    line-height:100px;
			    font-weight:bold;
			    text-transform: capitalize;
			    font-style: normal;
			}
			.background2{
				top: 105px;
				left: 34%;
			}
			.background{
				top: 2px;
				left: 19%;
			}
		}
		&.added-space{
			~ .first-service{
				margin-top:$our-services-height;
			}
			.background{
				left: 19.5%;
			}
		}
	}
	.why-us{
		margin:50px 0;
		h2{
			.main{
				font-size:70px;
				color: $second-bg-color;
			}
			.background,.background2{
				font-size: 90px;
				position: absolute;
			    text-align: center;
			    width: 100%;
			    top: 0;
			    left: 0;
			}
			.background2{
				text-transform: lowercase;
				top:100px;
			}
		}
	}
	.form-title{
		margin:50px 0;
		h2{
			.background,.background2{
				text-transform: none;
				position: absolute;
			    text-align: center;
			    width: 100%;
			    top: 0;
			    left: 0;
			}
			.background2{
				top:100px;
			}
		}
	}

	.first-service,.third-service,.fifth-service{
		margin:0 auto;
		padding-bottom:50px;
		max-width: 1400px;
		display:flex;
		flex-wrap: wrap;
		.left{
			padding:0;
			background:$first-bg-color;
			box-shadow:0 1px 0 0 #b8bfbf, 0 5px 6px 5px rgba(0,0,0,0.03);
			min-height: calc(100vh - #{$our-services-height} - 50px);
			position:relative;
			z-index: 10;
			img.service{
				position: absolute;
			    bottom: 5vh;
			    left: -50px;
			    max-height: 600px;
			}
			img.vertical-texture{
				height:100%;
				position:absolute;
				left: 99%;
				top:0;
				max-width:90px;
			}
		}
		.right{
			background:#f7f8f9;
			border:1px solid #d7dddd;
			box-shadow:0 1px 10px 3px rgba(0,0,0,0.04);
			min-height: calc(100vh - #{$our-services-height} - 50px);
			position:relative;
			.txt{
				width: 90%;
			    padding: 10% 0 10% 20%;
				.title{
					font-size:24px;
					color:#575858;
					line-height:34px;
					top:37px;
				}
				.main-title{
					font-size:64px;
					color:#ff9012;
					line-height:70px;
					font-weight:lighter;
					top:70px;
				}
				.subtitle{
					font-size:16px;
					color:#8a8c8c;
					text-align:justify;
					top:256px;
				}
			}
		}
	}

	.second-service,.fourth-service{
		margin:0 auto;
		padding-bottom:50px;
		max-width: 1400px;
		display:flex;
		flex-wrap: wrap;
		.left{
			background:#f7f8f9;
			border:1px solid #d7dddd;
			box-shadow:0 1px 10px 3px rgba(0,0,0,0.04);
			min-height: calc(100vh - #{$our-services-height} - 50px);
			position:relative;
			.txt{
				width: 90%;
			    padding: 10% 20% 10% 0;
				.title{
					font-size:24px;
					color:#575858;
					line-height:34px;
					top:37px;
				}
				.main-title{
					font-size:64px;
					color:#ff9012;
					line-height:70px;
					font-weight:lighter;
					top:70px;
				}
				.subtitle{
					font-size:16px;
					color:#8a8c8c;
					text-align:justify;
					top:256px;
				}
			}
			
		}
		.right{
			padding:0;
			background:$second-bg-color;
			box-shadow:0 1px 0 0 #b8bfbf, 0 5px 6px 5px rgba(0,0,0,0.03);
			min-height: calc(100vh - #{$our-services-height} - 50px);
			position:relative;
			z-index: 10;
			img.service{
				position: absolute;
			    bottom: -1vh;
			    left: -36px;
			    max-height:600px;

			}
			img.vertical-texture{
				height:100%;
				position:absolute;
				right: 99%;
				top:0;
				max-width:90px;
			}
		}
	}
	.first-service,.second-service,.third-service,.fourth-service,.fifth-service{
		.left,.right{
			min-height: 400px;
			.hidden-bg{
				    height: 100%;
				    width: 100%;
				    position: absolute;
				    display:none;
			}
		}
		.left{
			.hidden-bg{
				background-color:$first-bg-color;
			}
		}
		.right{
			.hidden-bg{
				background-color:$second-bg-color;
				right:0;
			}
		}
	}

	.second-service,.third-service,.fourth-service,.fifth-service{
		margin-top:$our-services-height;
	}

	.third-service,.fourth-service{
		.right,.left{
			.txt{
				.main-title{
					top:125px;
				}
				.subtitle{
					top:250px;
				}
			}
		}
	}

	.third-service{
		.left{
			img.service{
				left: -65px;
    			bottom: -20px;
			}
		}
	}

	.fourth-service{
		.right{
			img.service{
				left: 30%;
			}
		}
	}

	.fifth-service{
		position:relative;
		.left{
			img.service{
				bottom: -7vh;
		    	left: 0px;
			}
		}
		.right{
			.txt{
				.main-title,.title,.subtitle{
					left:100px;
					span{
						font-size:40px;
					}
				}
			}
			
		}
		.btn-fixed-2{
			position:absolute;
			left: 34%;
		}
	}

	.we-love{
		position:relative;
		.title,.subtitle{
			position:absolute;
		}
		.title{
			opacity:0.98;
			font-family: 'Raleway', sans-serif;
			font-weight: bolder;
			font-size:144px;
			color:#ffffff;
			text-align:left;
			top: 20px;
			left: 85px;
		}
		.subtitle{
			opacity:0.82;
			font-family: 'Raleway', sans-serif;
			font-weight: bolder;
			font-size:90px;
			color:#ffffff;
			text-align:left;
			top: 160px;
			left: 525px;
		}
	}

	.options{
		.option{
			text-align: center;
			img{
				margin-bottom:20px;
			}
			.title{
				padding:0;
				margin:0;
				font-size:28px;
				color:#00b3e3;
				line-height:38px;
				font-weight: lighter;
				margin-bottom:20px;
			}
			.text{
				font-size:14px;
				color:#575858;
				text-align:justify;
				margin-bottom:33px;
			}
		}
	}

	.opinions{
		margin-top:100px;
		background-image:linear-gradient(0deg, rgba(60,233,230,0.00) 0%, rgba(28,207,201,0.40) 100%);
		padding:25px 48px 90px 48px;
		position:relative;
		.img-bg-opinions{
			position:absolute;
			top:0;
			left:0;
		}
		.carousel{
			width:100%;
			.carousel-inner{
				.item{
					height:416px;
					.opinion-img{
						z-index: 5;
						position: absolute;
					}
					.opinion-text{
						position: absolute;
					    width: 100%;
					    height: 85%;
					    background-color: white;
					    bottom: 0;
					    left: 0;
					    padding: 84px 150px 0 440px;
					    .title{
					    	font-size: 18px;
						    color: #1ccfc9;
						    text-transform: uppercase;
					    }
					    .actual-opinion{
					    	font-size: 30px;
						    color: #575858;
						    line-height: 38px;
						    font-weight: lighter;
						    .quote-close{
						    	transform: rotate(180deg);
								margin-left: 10px;
								position:relative;
								top:-10px;
						    }
					    }
					    .author{
					    	font-size: 14px;
						    color: #575858;
						    line-height: 24px;
						    font-weight: bold;
						    margin-bottom: 0;
					    }
					    .extra{
					    	font-size: 14px;
						    color: #575858;
						    line-height: 24px;
						    font-weight: lighter;
						    margin-top: 0;
					    }
					    .quote-open{
					    	position:absolute;
					    	top:120px;
					    	left:395px;
					    }
					}
				}
			}
			.right,.left{
				opacity:1;
				background:none;
				cursor: normal;
				.arrow{
					cursor:pointer;
					background: url('../imgs/carousel-control.png');
					background-repeat:no-repeat;
					background-size:cover;
				}
			}
			.left{
				.arrow{
					left: -8%;
				    width: 50px;
				    height: 50px;
				    top: 55%;
				    line-height:45px;
				}
			}
			.right{
				.arrow{
					right: -8%;
				    width: 50px;
				    height: 50px;
				    top: 55%;
				    line-height:45px;
				}
			}
		}
	}
	.form-body{
		.form-input{
			text-align:center;
			padding:0 50px;
			label{
				font-size:18px;
				color:#575858;
				line-height:24px;
				text-align:left;
				display:block;
				margin:12px 0;
			}
			select,input,textarea{
				width:100%;
				border:1px solid #1ccfc9;
				box-shadow:inset 0 2px 1px 0 rgba(0,0,0,0.09);
				height:50px;
				padding: 10px;
				font-size: 20px;
				&.error{
					border-color: red;
				}
			}
			textarea{
				min-height: 200px;
			}
		}
	}
	.form-button{
		margin-top: 50px;
		.button-contact-2{
			text-align:center;
			span{
				width:80%;
				font-size:20px;
				top:20px;
			}
		}
	}
	.final{
	    text-align: center;
	    padding-top: 50px;
	    position:relative;
	    min-height:700px;
		.number{
			span{
				color: #ff9012;
				font-size: 24px;
			}
			img{
				width:36px;
				height:36px;
				margin-top: -12px;
				margin-right: 10px;
			}
		}
		.text{
			font-size: 16px;
		    color: #7b7b7b;
		    margin-top: 21px;
		    font-weight: bold;
		}
		.copyright{
			    font-size: 14px;
			    color: #c3c3c3;
			    font-weight: lighter;
			    position: absolute;
			    bottom: 27px;
			    width: 100%;
		}
		.logo{
			img{
				height:150px;
				margin-top:150px;
			}
		}
		.facebook{
			position: absolute;
		    width: 100%;
		    bottom: 61px;
		}
		.img-1,.img-2{
			position:absolute;
		}
		.img-1{
			top:25%;
		}
		.img-2{
			bottom:0;
			right:0;
		}
	}
}

@media (max-width: 1217px) {

	#main-content{
		.we-love{
			.subtitle{
				left: 85px;
			}
		}

		.final{
			.img-1,.img-2{
				width:30%;
			}
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991px) {
	.button-contact{
			left:30%;
		}
	#main-content{
		.principal{
			display:flex;
			.left,.right{
				height:auto;
				img.vertical-texture{
					height:100%;
					max-width:100px;
				}
			}
		}
		.first-service,.second-service,.third-service,.fourth-service,.fifth-service{
			.left,.right{
				margin:auto;
				box-shadow:none;
				.hidden-bg{
					display:block;
					width:90%;
				}
				img.service{
					max-height: 400px;
				    left: 40%;
				    right: 0;
				}
			}
		}
		.first-service,.third-service,.fifth-service{
			.left{
				background:none;
				img.vertical-texture{
					left:90%;
				}
				img.service{
					left:20%;
				}
			}
			.right{
				.txt{
					padding:0;
					margin:10% auto;
				}
			}
		}
		.second-service,.fourth-service{
			.right{
				background:none;
				display:none;
				img.vertical-texture{
					right:90%;
				}
				&.hide{
					display:block !important;
				}
			}
			.left{
				.txt{
					padding:0;
					margin:10% auto;
				}
			}
		}
		.fifth-service{
			.left{
				img.service{
					top: -5%;
    				max-height: 450px;
				}
			}
			.button-contact{
				left:0;
				position:relative;
				margin:auto;
			}
		}
	}
}

@media (max-width: 932px) {

	#main-content{
		.form-title{
			h2{
				.background,.background2{
					font-size: 100px;
				}
			}
		}
		.our-services{
			h2{
				.background,.background2{
					left:19.5%;
				}
				&.added-space{
					.background,.background2{
						left:19.5%;
					}
				}
			}
		}
		.why-us{
			h2{
				.background,.background2{
					font-size: 75px;
				}
			}
		}
		.we-love{
			.title{
				font-size:100px;
				top:10px;
			}
			.subtitle{
				font-size:80px;
				top:140px;
				left: 85px;
			}
		}
	}
}

/* @media (min-width: 900px) and (max-width: 1050px) {
	#main-content{
		.principal{
			.left{
				.txt{
					left:15%;
					width:250px;
				}
			}
			.right{
				img.main{
					height:70vh;
					top:30vh;
				}
			}
		}
		.our-services{
			h2{
				.background{
					left:10%;

				}
			}
			&.added-space{
				.background{
					left:10%;
				}
			}
		}
		.first-service,.third-service,.fifth-service{
			.right{
				.main-title{
					font-size:40px;
					line-height: 50px;
    				margin-top: 50px;
				}
			}
			.left{
				img.service{
					height: calc(95vh - 225px - 50px);
				}
			}
		}
		.third-service{
			.right{
				.main-title{
					margin-top: 30px;
				}
			}
		}
		.fifth-service{
			.right{
				.main-title{
					font-size:35px;
				}
			}
		}
		.second-service,.fourth-service{
			.left{
				.main-title{
					font-size:35px;
					line-height: 50px;
    				margin-top: 50px;
				}
			}
			.right{
				img.service{
					height: calc(95vh - 225px - 50px);
				}
			}
		}

		.fourth-service{
			.left{
				.main-title{
					margin-top: 30px;
				}
			}
		}

		.we-love{
			.title{
				font-size: 120px;
			}
			.subtitle{
				font-size: 70px;
    			left: 300px;
			}
		}

		.why-us{
			h2{
				.main{
					font-size: 55px;
				}
			}
		}
	}
} */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {


}